.s6_cont .border, .s6_wrapper {
	border-radius: 200px;
overflow: hidden;
	width: 250px;
	height: 250px;
	position:relative;
	z-index: 2;
}
.s6_cont { border: 10px solid #eee;
	z-index: 2; position:relative;	 border-radius: 200px;
	margin:auto;
	width: 250px;
	height: 250px;
	position:relative; }
.s6_cont .border {
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
	border: 25px solid #eee;
	z-index: 0;
}
.s6_wrapper {
	
}
.s6_wrapper .carousel img {
	display: block;
	float: left;
}

.s6_cont .pager {
	width: 300px;
	margin: -15px 0 0 -150px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
}
.s6_cont .pager a {
	border: 5px solid #eee;
	border-radius: 30px;
	overflow: hidden;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 -30px;
	position: absolute;
	left: 50%;
	
	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	transition: margin 0.5s ease;
}
.s6_cont .pager a.thumb1 {
	top: 0px;
	margin-left: -150px;
}
.s6_cont .pager a.thumb1.selected {
	margin-top: -20px;
	margin-left: -115px;
}
.s6_cont .pager a.thumb2 {
	top: 90px;
	margin-left: -98px;
}
.s6_cont .pager a.thumb2.selected {
	margin-top: -35px;
	margin-left: -85px;
}
.s6_cont .pager a.thumb3 {
	top: 110px;
}
.s6_cont .pager a.thumb3.selected {
	margin-top: -40px;
}
.s6_cont .pager a.thumb4 {
	top: 90px;
	margin-left: 38px;
}
.s6_cont .pager a.thumb4.selected {
	margin-top: -35px;
	margin-left: 25px;
}
.s6_wrapper .pager a.thumb5 {
	top: 45px;
	margin-left: 90px;
}
.s6_cont .pager a.thumb5.selected {
	margin-top: -20px;
	margin-left: 55px;
}