html { color: #000;  }
*{ margin:0px; padding:0px; border:none }
body { font-size:13px; font-family: arial,sans;  width:100%; min-width:1000px; text-align:center !important; margin:0 auto !important }
.fl{float:left}
.fr{float:right}
.cb{clear:both}
.show{display:block}
.hide{display:none}
.site{ width:1000px; margin:auto }

header{ width:100%; text-align:center }
#top{ margin-bottom:15px }
#logo { text-align:left }
#breadcrumb { text-align:left }



header nav ul li { float:left; list-style:none; margin-left:10px }
header nav ul li:first-child{ margin-left:0px }
header nav ul li a { display:block; padding:2px 0px; font-size:12px; color:#fff }

section,aside{ float:left; margin:0px 0px; width:100%; text-align:center }

footer{ margin:15px auto; text-align:center }
.footer{ width:100%  }

a{ text-decoration:none }
a,:focus, :active { -moz-outline-style: none; outline: none; } 

input[type=text],input[type=password] {}
input[type=submit] {}
input[type=checkbox] {}
input[type=radio] {}
input[type=file] {}
textarea {}

h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
