/*FORMS*/
form .row { padding:10px 0px; padding-bottom:0px; text-align:left; position:relative; }

input[type=text],input[type=email],input[type=password],textarea { width:100%; border:solid 1px #ccc; padding:5px 0px; text-indent:10px }
textarea { min-height:200px }

.vcard img{ width:40px; height:40px; }
.vcard { margin-top:10px; text-align:left; font-size:13px; }
.vcard .name { color:#5092d3; font-weight:bold; font-size:16px }
.vcard .subname { color:#333; font-weight:bold; }
#lmenu { padding-bottom:4px; list-style:none; cursor:pointer !important; position:relative; }
#lmenu li a { display:inline-block; width:100%; line-height:20px; color:#333; }
#lmenu li a:hover{ background:#eee; } 
.lsubmenu { display:none; width:200px; margin-top:4px; left:0px; padding:10px; background-color:#fff; position:absolute; z-index:20; }
#lmenu:hover .lsubmenu { display:block }

.button.big { padding:5px 10px; background:#333; color:#fff; cursor:pointer }
.button:hover { background:#777; }

label.error { 
    color:#fff; 
    margin-left:2px;     
    background-image:url('arrow.gif');
    background-position:left center;
    background-repeat:no-repeat;
    padding:2px;
    padding-left:18px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
}

.validity-tooltip {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index:5;
    cursor:pointer;
    padding:5px;
    text-align:left;
    line-height:17px;
    font-size:12px;
    margin-top:-8px;
    color:#fff;
    position: absolute;
    background-color:#f56600;
}

.title,.title2{  background-color:#333; line-height:27px; text-indent:10px; font-size:14px; text-align:left; color:#fff; font-weight:bold; }
.title div,.title2 div { border-left:solid 5px #333; width:5px; height:27px; background-color:#fff; float:left }

.notify {
  display: block;
  background: #fff;
  padding: 12px 18px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.notify h1 { margin-bottom: 6px; }

.successbox h1 { color: #678361; }
.errorbox h1 { color: #6f423b; }

.successbox h1:before, .successbox h1:after { background: #cad8a9;  }
.errorbox h1:before, .errorbox h1:after {  background: #d6b8b7;  }

.errorbox h1:before, .errorbox h1:after, .successbox h1:before, .successbox h1:after {	
	content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}
.errorbox h1:before { margin-right:5% }
.errorbox h1:after { margin-left:5% }
.notify .alerticon { 
  display: block;
  text-align: center;
  margin-bottom: 10px;
  }
  
  /*switch*/
  .switch {
cursor: pointer;
display: inline-block;
overflow: hidden;
position: relative;
width: 105px;
height: 30px;
vertical-align: middle;
}
/* Background image */
.switch .background {
background: url('../images/switch-background.png');
display: block;
position: absolute;
top: 0;
left: 0;
width: 161px;
height: 30px;
}
/* Mask */
.switch .mask {
background: url('../images/switch-mask.png');
display: block;
position: absolute;
top: 0;
left: 0;
width: 105px;
height: 30px;
}

/*tagit*/
ul.tagit li.tagit-choice { background-color:#80DC09; color:#fff !important }
