{* XCART *}
<link rel="stylesheet" type="text/css" href="{$base}/modules/shopping_carts/c1/c1.css" media="screen" />
<script type="text/javascript" src="{$base}/modules/shopping_carts/c1/c1.js"></script>
{capture name="scripts"}
<link rel="stylesheet" type="text/css" href="{$base}/modules/shopping_carts/c1/c1.css" media="screen" />
<script type="text/javascript" src="{$base}/modules/shopping_carts/c1/c1.js"></script>
{/capture}


<form id="xc_cart" method="post" action="">
        <div class="xc_header">Cart</div>
        <div class="xc_content">
                {include file="./cart.tpl"}
        </div>
        <input type="submit" value="Checkout" />
</form>
{* END XCART *}