#c-carousel {
	height: 100%;
	padding: 0;
	margin: 0;
}

#c-carousel * {
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	color: #222;
	line-height: 20px;
}

#wrapper {
	width: 100%;
	height: 100%;
	min-width: 500px;
	min-height: 500px;
	overflow: hidden;
	position: relative;
}
#inner {
	position: absolute;
	display: none;
}
#inner.horizontal {
	width: 100%;
	height: 420px;
	margin: -210px 0 0 0;
	top: 50%;
	left: 0;
}
#inner.vertical {
	width: 420px;
	height: 100%;
	margin: 0 0 0 -210px;
	top: 0;
	left: 50%;
}
#carousel > div {
	width: 420px;
	height: 420px;
	float: left;
	position: relative;
}
#carousel img {
	border-radius: 100px;
	display: block;
	width: 120px;
	height: 120px;
	position: absolute;
}
img.t1 {
	left: 10px;
	top: 10px;
}
img.t2 {
	left: 150px;
	top: 10px;
}
img.t3 {
	left: 290px;
	top: 10px;
}
img.t4 {
	left: 10px;
	top: 150px;
}
img.t5 {
	left: 150px;
	top: 150px;
}
img.t6 {
	left: 290px;
	top: 150px;
}
img.t7 {
	left: 10px;
	top: 290px;
}
img.t8 {
	left: 150px;
	top: 290px;
}
img.t9 {
	left: 290px;
	top: 290px;
}

#left, #right, #up, #down {
	border-radius: 50px;
	border: 5px solid #ccc;
	background: #fff;
	display: block;
	width: 60px;
	height: 60px;
	margin: -35px;
	position: absolute;
}
#left {
	top: 50%;
	left: 0;
}
#right {
	top: 50%;
	right: 0;
}
#up {
	top: 0;
	left: 50%;
}
#down {
	bottom: 0;
	left: 50%;
}
#left:after, #right:after, #up:after, #down:after {
	content: '';
	border: 5px solid transparent;
	display: block;
	width: 0;
	height: 0;
	margin: -5px;
	position: absolute;
}
#left:after {
	border-right-color: #ccc;
	border-right-width: 10px;
	margin-left: 0;
	left: 50%;
	top: 50%;
}
#right:after {
	border-left-color: #ccc;
	border-left-width: 10px;
	margin-right: 0;
	right: 50%;
	top: 50%;
}
#up:after {
	border-bottom-color: #ccc;
	border-bottom-width: 10px;
	margin-top: 0;
	top: 50%;
	left: 50%;
}
#down:after {
	border-top-color: #ccc;
	border-top-width: 10px;
	margin-bottom: 0;
	bottom: 50%;
	left: 50%;
}