<link rel="stylesheet" type="text/css" href="{$base}/modules/sliders/s1/s1.css" media="screen" />
<script type="text/javascript" src="{$base}/modules/sliders/s1/s1.js"></script>
<div  style="top:100px; height:700px">
<div id="wrapper {if $push}push_{$push}{/if} {if $pull}pull_{$pull}{/if} {if $top}top_{$top}{/if} {if $bottom}bottom_{$bottom}{/if} grid_{$grid}">
<div id="inner" class="horizontal">
	<div id="carousel">
		<div>
			<a href=""><img src="http://coolcarousels.frebsite.nl/c/69/img/t1.jpg" class="t1" /></a>
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t2.jpg" class="t2" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t3.jpg" class="t3" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t4.jpg" class="t4" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t5.jpg" class="t5" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t6.jpg" class="t6" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t7.jpg" class="t7" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t8.jpg" class="t8" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t9.jpg" class="t9" />
		</div>
		<div>
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t10.jpg" class="t1" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t11.jpg" class="t2" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t12.jpg" class="t3" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t13.jpg" class="t4" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t14.jpg" class="t5" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t15.jpg" class="t6" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t16.jpg" class="t7" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t17.jpg" class="t8" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t18.jpg" class="t9" />
		</div>
		<div>
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t19.jpg" class="t1" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t20.jpg" class="t2" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t21.jpg" class="t3" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t22.jpg" class="t4" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t23.jpg" class="t5" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t24.jpg" class="t6" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t25.jpg" class="t7" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t26.jpg" class="t8" />
			<img src="http://coolcarousels.frebsite.nl/c/69/img/t27.jpg" class="t9" />
		</div>
	</div>
</div>
<a href="#" id="left"></a>
<a href="#" id="right"></a>
<div style="clear:both"></div>
</div>