.s4_wrapper {
	box-shadow: 0 0 20px #110;
	width: 100%;
	overflow: hidden;
}
.s4_images {
	height: 100%;
}
.s4_images img {
	display: block;
	height: 100%;
	float: left;
}
.s4_timer,
.s4_captions {
	background: rgba( 0, 0, 0, 0.5 );
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.s4_timer {
	background: rgba( 200, 0, 0, 0.5 );
}
.s4_captions .carousel > div {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	line-height: 52px;
	text-transform: uppercase;
	text-indent: 50px;

	height: 50px;
	float: left;
}
.s4_wrapper .pager {
	padding: 16px 50px 0 0;
	float: right;
}
.s4_wrapper .pager a {
	border: 1px solid #fff;
	border-radius: 10px;
	display: block;
	float:left;
	width: 10px;
	height: 10px;
	margin: 0 3px;
}
.s4_wrapper .pager a:hover {
	background: rgba( 255, 255, 255, 0.3 );
}
.s4_wrapper .pager a.selected {
	background: #fff;
}