{literal}
<style type="text/css">
	.c1_categories a{ float:left; width:100%; text-align:left; font-weight:bold; padding:5px 0px; margin-top:5px; color:#000 }
</style>
{/literal}

<ul class="c1_categories">
{foreach from=$categories item=c key=k}
<li><a href="">{$c['name']}</a></li>
{/foreach}
</ul>