<div class="row grid_8 {$class}">
    <div class="ttl">{$label}</div>
    <ul class="grid_8 fl checkbox_list">  
        {foreach from=$source item=i} 
            <li><label><input type="checkbox" name="{$name}[]" value="{$i['id_account']}">{$i['login']}</label></li>
        {/foreach}
    </ul> 
</div>