<div class="row grid_17">
    <ul id="source" class="grid_8 fl users connect_list">  
        {foreach from=$source item=i} 
            <li>{$i['login']}<input type="hidden" name="members[]" value="{$i['id_account']}" disabled="disabled"></li>
        {/foreach}
    </ul> 

    <ul id="target" class="grid_8 fr users connect_list">  
       {foreach from=$destination item=i} 
            <li>{$i['login']} <input type="hidden" name="members[]" value="{$i['id_account']}" disabled="disabled"></li>
        {/foreach}
    </ul>  
</div>