.queue { width:100%; margin:10px 0px;  border: 2px dashed #DDD; min-height: 200px }
.ovinfo { background-color:#fff; position:absolute; z-index:3; color:#ccc; font-size:20px; left:50%; width:200px; height:70px; margin-top:-35px; top:50%; text-align:center; margin-left:-100px; }
.uploadifive-button { margin-left:50px; margin-top:15px; }
.file_upload{ border:none !important }
.uploadifive-queue-item { margin-bottom:2px; width:100%; float:left; padding:10px 5px; padding-left:0px; text-indent:5px; background-color:#eee; }
.close { float:right; text-decoration:none; color:#000 }
.uploadifive-queue-item.error{ color:red }
