.s7_wrapper {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 275px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin:auto;
}
.s7_wrapper .carousel,
.s7_wrapper .images {
	width: 275px;
	height: 200px;
	overflow: hidden;
}
.s7_wrapper .carousel > *,
.s7_wrapper .images > * {
	display: block;
	float: left;
}
.s7_wrapper .carousel > div {
	background: #333;
	width: 225px;
	height: 175px;
	padding: 25px 25px 0 25px;
}
.s7_wrapper .carousel > div * {
	color: #cdd;
}
.s7_wrapper .carousel h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.s7_wrapper .pager {
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	line-height: 10px;
	width: 275px;
	height: 10px;
	padding: 10px 0;
	position: absolute;
	bottom: -30px;
	left: 0;

	-webkit-transition: bottom .5s ease;
	-moz-transition: bottom .5s ease;
	transition: bottom .5s ease;
}
.s7_wrapper .pager.visible {
	bottom: 0;
}
.s7_wrapper .pager a {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}
.s7_wrapper .pager a:hover,
.s7_wrapper .pager a.selected {
	background: rgba(255, 255, 255, 0.8);
}
.s7_wrapper .pager a span {
	display: none;
}