<link rel="stylesheet" type="text/css" href="{$base}/application/view/modules/galleries/css/g3.css" media="screen" />
<script type="text/javascript" src="{$base}/application/view/modules/galleries/js/g3.js"></script>

<div class="{if $push}push_{$push}{/if} {if $pull}pull_{$pull}{/if} {if $top}top_{$top}{/if} {if $bottom}bottom_{$bottom}{/if} grid_{$grid}" style="position:relative">
<div id="{$id}" class="spacegallery {if $push}push_{$push}{/if} {if $pull}pull_{$pull}{/if} {if $top}top_{$top}{/if} {if $bottom}bottom_{$bottom}{/if} grid_{$grid}" style="height:{$height}px">
    
		<img src="http://static.webdeveloperplus.com/uploads/2009/09/jquery-image-gallery/PikaChoose.jpg" alt="" />
		<img src="http://static.webdeveloperplus.com/uploads/2009/09/jquery-image-gallery/PikaChoose.jpg" alt="" />
		<img src="http://static.webdeveloperplus.com/uploads/2009/09/jquery-image-gallery/PikaChoose.jpg" alt="" />
		<img src="http://static.webdeveloperplus.com/uploads/2009/09/jquery-image-gallery/PikaChoose.jpg" alt="" />
		{foreach from=$images['gallery'] item=i key=k}
		<img src="{$base}{$i['folder']}{$i['filename']}" alt="" />
		{/foreach}
</div>
</div>

<script type="text/javascript">
	jQuery(function($){
		$('#{$id}').spacegallery({ loadingClass: 'loading' })
	})
</script>