#xc_cart{ position:fixed;  border-radius:5px;  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3); padding-bottom:10px;  z-index:10; top:20px; right:0px; background-color:#fff; width:250px}
#xc_cart input[type=submit],#xc_checkout input[type=submit] { margin-right:8px; margin-top:20px; cursor:pointer; float:right }
.ui-effects-transfer { z-index:11; border: 1px dotted black }
.xc_popup { border-radius:0px 0px 5px 5px; position:absolute; bottom:0px; width:200px; padding:10px 0px; background-color:#eee; }
.xc_popup .qty { width:50px; float:left; margin-left:10px; line-height:20px; padding:5px 0px; border-radius:5px }
.xc_popup .submit { padding:5px 0px; cursor:pointer; border-radius:5px; margin-right:10px; background-color:red; color:#fff; float:right }
.xc { position:relative }
.product{ margin:10px; margin-left:0px; float:left; position:relative; box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3); border-radius:5px;}
.xc_desc,.xc_info{ display:none; position:absolute; bottom:-60px; width:180px; z-index:10; left:0px; background-color:#eee; padding:10px; border-radius:5px; }
.product .xc_wrap:hover  .xc_info,.product .xc_wrap:hover .xc_desc { display:block }
.xc_desc { margin-left:210px; width:400px; top:0px; }
.product .xc_wrap{ width:100%; height:100%; }

.xc_header { background-color:#333; border-radius:5px 5px 0px 0px;  color:#fff; padding:5px 10px; line-height:20px; text-align:left; font-weight:bold }
.xc_content{ padding:15px 10px }
.xc_content .xc_item { background-color:#fff; float:left; border:solid 1px #ccc;width:100% }
.xc_content .xc_item .xc_thumb { border-radius:5px; float:left; width:30px; background:#eee; height:30px; }
.xc_content .xc_item .xc_title { text-align:left; font-weight:bold; padding-left:10px; float:left; width:190px }
.xc_content .xc_item .xc_remove{ width:22px; position:relative; top:+7px; cursor:pointer; height:16px; background-image:url(../img/remove.png); float:right }

.xc_opts { visibility:hidden; background:#fff; border:solid 1px #ccc;  padding:5px; margin-top:-150px; margin-left:-80px; width:400px; left:50%; top:50%; position:fixed; }
.xc_close { float:right; width:16px; height:16px; background:#333; cursor:pointer }

.xc_checkout { display:none; border-radius:5px;  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3); background:#fff; width:600px; margin-left:-300px; left:50%; position:fixed; top:50%; margin-top:-300px; }
.xc_checkout .xc_header{ margin-bottom:20px }
.xc_checkout .xc_details .xc_title { text-align:left; margin-bottom:10px; text-indent:10px; float:left; width:100%; padding:3px 0px; background:#eee }
.xc_checkout .xc_details ul li { margin:5px 0px; text-align:left; list-style:none; width:100%; float:left; }
.xc_checkout .xc_details ul li input{ margin-right:10px; float:left; }
.xc_checkout .xc_details ul li label { cursor:pointer }
.xc_checkout .xc_content { margin-left:10px; width:45%; padding:0px; float:left }
.xc_checkout .xc_details { margin-right:10px; float:right; width:47% }
.xc_checkout .xc_buttons { clear:both; float:left; width:100%; margin:10px 0px }