.s3_wrapper {
	width: 100%;
	height: 500px;
	
}
.s3_carousel div {
	height: 500px;
	float: left;
}
.s3_carousel img {
	min-width: 100%;
	min-height: 100%;
}
.s3_title {
	text-align: center;
	width: 100%;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}
.s3_title h3 {
	text-shadow: 
		0 3px 3px rgba( 0, 0, 0, 0.3 ),
		0 -3px 3px rgba( 0, 0, 0, 0.3 ),
		3px 0 3px rgba( 0, 0, 0, 0.3 ),
		-3px 0 3px rgba( 0, 0, 0, 0.3 );

	font-size: 50px;
	font-weight: bold;
	line-height: 50px;
	color: #fff;
	margin: 0;
}
.s3_title a {
	color: #fff;
}
.s3_title a:hover {
	background: rgba( 0, 0, 0, 0.5 );
	padding: 2px 5px;
}
.s3_pager {
	border-radius: 20px;
	background: #fff;
	text-align: center;
	width: 120px;
	height: 50px;
	padding-top: 2px;
	margin: 235px 0 0 -60px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.s3_pager a.selected span {
	background: #666;
}
.s3_pager a {
	display: inline-block;
	padding: 5px;
}
.s3_pager span {
	border-radius: 10px;
	background: #ccc;
	text-indent: -100px;
	line-height: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	overflow: hidden;
}