<li class="{if $f->getAttribute('hidden')}hide{/if} tab_{$c['tab']|string_format:"%d"}"><label>{$f->getLabel()}</label>
<div class="form_input"> 
<div class="one_wrap fl_left">
    <div class="widget">
      <div class="widget_title"><span class="iconsweet">]</span>
        <h5>File Uploader</h5>
      </div>
      <div class="widget_body">
        <div id="file_uploader">
        <input id="file_upload" type="file" name="file_upload" />
        </div>
        <div class="action_bar"> <a href="javascript:$('#file_upload').uploadifyUpload();" class="button_small whitishBtn" ><span class="iconsweet">o</span>Upload Files</a> </div>
      </div>
    </div>
</div>
</div>
</li>