.s5_wrapper {
	background: #666;
	box-shadow: 0 0 10px #000;
	overflow:hidden;
}
.s5_wrapper .carousel {
	overflow: hidden;
}
.s5_wrapper .carousel img {
	display: block;
}
.s5_wrapper .pager {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.s5_wrapper .pager a {
	font-family: Impact, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 35px;
	color: #000;
	text-decoration: none;
	background: #fff;
	opacity:.6;
	display: block;
	padding:10px 20px;
	margin-bottom: 1px;
}
.s5_wrapper .pager a:hover {
	color: #111;
}
.s5_wrapper .pager a.selected {
	background: none;
	color: #c30;
}