<a class="whitishBtn button_small" data-toggle="modal" href="#myModal" >Modal dialog</a> 
<!--Basic Modal Start-->
<div class="modal hide" id="myModal" >
<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3>Modal header</h3>
</div>
<div class="modal-body">
          <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
</div>
<div class="modal-footer">
<a data-dismiss="modal" class="greyishBtn button_small" href="#">Close</a>
<a href="#" class="bluishBtn button_small">Save changes</a>
</div>
</div>
<!--Basic Modal End-->

{*
<div class="one_wrap">
	<div class="widget">
		<div class="widget_title"><span class="iconsweet">r</span><h5>Profile - edit</h5></div>
		<div class="widget_body">
			<!--Form fields-->
			<form class="edit axform" id="edit" method="post" action="">
				<ul class="tabs_holder">
									</ul>
		
			<div class="tab_content" id="tabs-1">
			  
				<ul class="form_fields_container">
	
				<li><label>Firstname</label>
					<div class="form_input">  
						<input type="text" id="firstname" name="firstname" value="" placeholder="Firstname" />
					</div>
				</li>  
				
				<li><label>Lastname</label>
					<div class="form_input">  
						<input type="text" id="lastname" name="lastname" value="" placeholder="Lastname" />
					</div>
				</li>  
				
				<li><label>Email address</label>
					<div class="form_input">  
						<input type="text" id="email" name="email" value="" placeholder="Email" />
					</div>
				</li>  
				
				{include file="../forms/elements/switch.tpl" label="Availability" id="availability" name="availability" checked=""}
				
				

				<li style="padding:0px">
					<div class="action_bar">
						<input type="submit" class="button_small bluishBtn" value="Save">
					</div>
				</li>  
			</ul>
			
			</div> 
			</form>
		</div>
	</div>
</div>*}